guidelines.md
.vscode
*.pdb
*.sdf
*.pdbqt
*.log
*.json
*.zip
*.pqr
*.bk
*.dat
*.trr
*.offsets
*.netcdf
*.crd
*.parmtop
*.top
*.txt
*.pdb4amber_sslink
log*.*
mdout
mdinfo
!logo.png
.ipynb_checkpoints/
biobb_wf_amber_md_setup/notebooks/*/*/
biobb_wf_amber_md_setup/notebooks/*/*.web.ipynb
biobb_wf_amber_md_setup/notebooks/*/*.docs.ipynb
biobb_wf_amber_md_setup/notebooks/*/*.png
biobb_wf_amber_md_setup/notebooks/*/*.gif
biobb_wf_amber_md_setup/notebooks/*/*.rst