.DS_Store

guidelines.md
.vscode
*.pdb
*.sdf
*.pdbqt
*.log
*.json
*.zip
*.pqr
*.bk
*.dat
*.trr
*.offsets
*.netcdf
*.crd
*.parmtop
*.top
*.txt
*.mol2
*.frcmod
*.inpcrd
*.lib
*.prmtop
*.pdb4amber_sslink
*.cpout
*.cprst
*.mdinfo
*.cpin
*.nc
*.in
*.ORIG
*.ncrst
log*.*
mdout
mdinfo
!logo.png
!requirements.txt
.ipynb_checkpoints/
biobb_wf_amber/notebooks/*/*/
biobb_wf_amber/notebooks/*/*.web.ipynb
biobb_wf_amber/notebooks/*/*.docs.ipynb
biobb_wf_amber/notebooks/*/*.png
biobb_wf_amber/notebooks/*/*.gif
biobb_wf_amber/notebooks/*/*.rst
!biobb_wf_amber/notebooks/abc_setup/ABCix_config_files/
!biobb_wf_amber/notebooks/abc_setup/ABCix_config_files/*.in
!biobb_wf_amber/notebooks/abc_setup/ABCix_config_files/*.in.ORIG
!biobb_wf_amber/html/abc_setup/sander.md.nc
!biobb_wf_amber/html/abc_setup/structure.ions.parmtop
!biobb_wf_amber/html/abc_setup/structure.leap.4fs.top
!biobb_wf_amber/html/abc_setup/sander.md.ncrst
!biobb_wf_amber/docs/source/_static/abc_setup/sander.md.nc
!biobb_wf_amber/docs/source/_static/abc_setup/structure.ions.parmtop
!biobb_wf_amber/docs/source/_static/abc_setup/structure.leap.4fs.top
!biobb_wf_amber/docs/source/_static/abc_setup/sander.md.ncrst
biobb_wf_amber/docs/notebooks/
biobb_wf_amber/html/abc_setup/biobb_wf_amber_abc_setup.web.ipynb
biobb_wf_amber/html/md_setup/biobb_wf_amber_md_setup.web.ipynb
biobb_wf_amber/html/md_setup_lig/biobb_wf_amber_md_setup_lig.web.ipynb
biobb_wf_amber/html/md_setup_ph/biobb_wf_amber_md_setup_ph.web.ipynb