guidelines.md
.vscode
*.pdb
*.sdf
*.pdbqt
*.log
*.json
*.zip
*.pqr
*.bk
*.dat
*.trr
*.offsets
*.netcdf
*.crd
*.parmtop
*.top
*.txt
*.mol2
*.frcmod
*.inpcrd
*.lib
*.prmtop
*.pdb4amber_sslink
*.cpout
*.cprst
*.mdinfo
*.cpin
*.nc
*.in
*.ORIG
*.ncrst
log*.*
mdout
mdinfo
!logo.png
.ipynb_checkpoints/
biobb_wf_amber_md_setup/notebooks/*/*/
biobb_wf_amber_md_setup/notebooks/*/*.web.ipynb
biobb_wf_amber_md_setup/notebooks/*/*.docs.ipynb
biobb_wf_amber_md_setup/notebooks/*/*.png
biobb_wf_amber_md_setup/notebooks/*/*.gif
biobb_wf_amber_md_setup/notebooks/*/*.rst
!biobb_wf_amber_md_setup/notebooks/abcsetup/ABCix_config_files/
!biobb_wf_amber_md_setup/html/abcsetup/sander.md.nc
!biobb_wf_amber_md_setup/html/abcsetup/structure.ions.parmtop
!biobb_wf_amber_md_setup/html/abcsetup/structure.leap.4fs.top
!biobb_wf_amber_md_setup/html/abcsetup/sander.md.ncrst
!biobb_wf_amber_md_setup/docs/source/_static/abcsetup/sander.md.nc
!biobb_wf_amber_md_setup/docs/source/_static/abcsetup/structure.ions.parmtop
!biobb_wf_amber_md_setup/docs/source/_static/abcsetup/structure.leap.4fs.top
!biobb_wf_amber_md_setup/docs/source/_static/abcsetup/sander.md.ncrst